[submodule "conveyor"]
	path = conveyor
	url = https://github.com/sergey-kvitka/conveyor
[submodule "deal"]
	path = deal
	url = https://github.com/sergey-kvitka/deal
[submodule "application"]
	path = application
	url = https://github.com/sergey-kvitka/application
[submodule "dossier"]
	path = dossier
	url = https://github.com/sergey-kvitka/dossier
[submodule "gateway"]
	path = gateway
	url = https://github.com/sergey-kvitka/gateway
